* {
    box-sizing: border-box;
}

.header {
    height: 130px;
    width: 100%;
    position: fixed;
    margin: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: beige;
    align-items: center;
    gap: 50px;
    top: 0px;
    z-index: 999;

}

.youtube {
    position: relative;
}

.sub {
    width: 310px;
    margin-top: 10px; 
    left: -20px;
    padding: 20px 30px 20px 10px;
    text-align: left;
    font-weight: 300;
    line-height: 23px;
    background-color: white;
    text-decoration: none;
    flex-direction: column;
    display: none;
    gap: 10px;
    position: absolute;


}

.youtube:hover .sub {
    display: flex;
    cursor: pointer; 
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.233);
}













.blog .components{ 
    width: 310px;
    margin-top: 10px; 
    padding: 20px 30px 20px 10px;
    text-align: left;
    font-weight: 300;
    line-height: 23px;
    background-color: white;
    text-decoration: none;
    flex-direction: column;
    display: none;
    gap: 10px;
    position: absolute;

}
.blog:hover .components{ 
    display: flex;
    cursor: pointer;
      box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.233);
}
.logoo {
    padding-left: 100px;
}


.head1 ol {
    gap: 20px;
    display: flex;
    justify-content: end;
    padding-right: 50px;
    font-weight: 900;

}

.head1 ol li {
    display: inline;

}

.head1 ol li a {
    text-decoration: none;
    color: rgb(6, 6, 92);
}

ol {
    display: flex;
    font-weight: 900;
    gap: 20px;

}

.head3 ol li {
    display: inline;
}

.head3 ol li a {
    text-decoration: none;
    color: rgb(6, 6, 92);

}

.section2 {
    margin-top: 120px;
    height: 100vh;
    position: relative;
}

.section2 video {
    position: absolute;
    z-index: 2;
}

.welcome {
    padding-top: 150px;
    width: 100%;
    justify-content: center;
    background-color: rgba(2, 2, 2, 0.284);
    position: absolute;
    z-index: 3;
    color: white;
    display: flex;
    height: 115vh;
    align-items: center;
    flex-direction: column;
    gap: 110px;



}

.con {
    font-size: 25px;
    text-align: center;
}

.to {}

.to h3 {

    font-weight: 200;
    line-height: 0px;

}

.to h1 {
    font-size: 65px;

}

.spa1 {
    color: white;
    text-decoration: none;

}

.spa {
    display: flex;
    gap: 20px;
    align-items: end;
    padding-bottom: 10px;
    justify-content: center;
}

.spa span {
    background-color: white;
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    font-weight: 200;
    margin-bottom: 7px;

}

.con button {
    height: 45px;
    width: 160px;
    border-radius: 20px;
    color: white;
    background-color: rgb(8, 8, 172);
    border: none;
    margin-top: 30px;
}

.con button:hover {
    background-color: rgb(6, 6, 58);
    cursor: pointer;
}

.spa1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.straightline {

    height: 200px;
    border-right: 2px solid white;

}

.section3 {

    padding: 150px;
    justify-items: center;

}

.escape {
    height: 300px;
    width: 800px;
    border: 2px solid rgb(241, 236, 236);
    border-radius: 10px;
    justify-items: center;
    text-align: center;
}

.line {
    height: 1px;
    width: 60px;
    background-color: rgba(128, 128, 128, 0.326);
}

.escape h3 {
    color: rgb(5, 5, 55);
    font-size: 35px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    gap: 50px;

}

.escape p {
    font-weight: 200;
    color: grey;
}


.section4 h3 {

    color: rgb(5, 5, 55);
    font-size: 50px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;

}

.re {
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.line {
    margin: 0px auto;
    height: 1px;
    width: 60px;
    background-color: rgba(128, 128, 128, 0.326);

}


.photos {
    border-radius: 10px;
}

.yoga h4 {
    color: rgb(8, 8, 60);

    justify-self: center;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 15px;
    margin-top: 35px;

}

.yoga h4:hover {
    text-decoration: underline;
}

.yoga a:hover {
    text-decoration: underline;

}

.yoga h5:hover {
    text-decoration: underline;
}

.yoga a {
    color: grey;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;

}

.retreats p {
    text-align: center;
    color: rgb(155, 153, 153);
}

.retreats h5 {
    justify-self: center;
    font-weight: 400;
    color: rgb(8, 8, 60);
}

.section5 {
    height: 500px;
    background-size: cover;
    color: white;
    background-image: url(/assests/images/features-1.jpg);
    display: flex;
    background-attachment: fixed;

}

.div5 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.273);
    align-items: center;
    justify-content: end;
    display: flex;
}

.div55 {
    width: 700px;
}

.section5 h3 {
    font-style: oblique;
    font-size: 40px;
}

.section5 p {
    font-style: oblique;
    font-size: 20px;

}

.section5 button {
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 180px;
    border: 2px solid white;
    background-color: transparent;
}

.section6 {
    margin: 150px;
    justify-items: center;

}

.mixdiv {
    display: flex;
    gap: 80PX;
    flex-wrap: wrap;
}

.rest {
    padding-bottom: 30px;
    align-content: center;
}

.rest h3 {
    font-style: oblique;
    font-size: 35px;
    font-weight: 900;
    color: rgb(6, 6, 102);

}

.rest p {
    font-weight: 100;
    font-style: oblique;
    color: grey;
}

.rest button {
    border-radius: 20px;
    height: 40px;
    width: 150px;
    color: rgb(6, 6, 102);
    background-color: transparent;
    margin-top: 25px;

}

.relax {
    height: 350px;
    width: 450px;
    border-radius: 15px;


    background-image: url(/assests/images/features-5.jpg);
    background-size: cover;
    display: flex;
}

.section7 {
    height: 500PX;
    width: 100%;
    background-image: url(/assests/images/features-2.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;




}

.div7 {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.463);
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.div77 {
    width: 700px;
}


.section7 h1 {
    font-weight: bolder;
    font-size: 50px;
}

.section7 button {
    height: 40px;
    width: 140px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

.section8 {
    display: flex;
    margin: 150px;
    gap: 50px;
    justify-content: center;
}

.organic {
    height: 300px;
    width: 450px;
    padding-top: 30px;
}

.organic h1 {
    color: rgb(6, 6, 102);

}

.organic p {
    color: grey;
}

.section8 button {
    height: 40px;
    width: 140px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid rgb(12, 12, 88);
    color: rgb(6, 6, 102);


}

.section8 button:hover {
    background-color: rgb(5, 5, 78);
    color: white;
    cursor: pointer;

}

.organicphoto {
    height: 300px;
    width: 450px;
    background-image: url(/assests/images/features-8.jpg);
    background-size: cover;
    border-radius: 15px;
}

.section9 {
    height: 500px;
    width: 100%;
    background-image: url(/assests/images/cta.jpg);
    background-size: 100% 600px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.div9 {
    background-color: rgba(0, 0, 0, 0.34);
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.section9 h1 {
    font-weight: 900;
    font-size: 45px;
}

.section9 button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
}

.section9 button:hover {
    color: rgb(3, 3, 82);
    background-color: white;
    cursor: pointer;
}

.section10 {
    width: 100%;
    background-color: rgb(243, 242, 242);
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
    gap: 50px;
    padding-top: 100px;

}

.testimonials {

    color: rgb(6, 6, 102);
    text-align: center;
    font-size: 20px;
}

.testimain {
    display: flex;
    text-align: center;
    gap: 50px;
    justify-content: center;
    padding-top: 80px;
    margin-bottom: 100px;
}

.testi {
    height: 250px;
    width: 250px;
    background-image: url(/assests/images/fitness-3.jpg);
    border-radius: 50%;
    background-size: cover;
}

.testi2 {
    color: grey;
    padding-top: 50px;


}

.testi2 h3 {
    color: rgb(6, 6, 102);

    text-align: left;
    margin-bottom: 0px;
    margin-top: 30px;

}


.testi2 p {
    text-align: left;
    margin-top: 5px;
}

.as {
    color: rgb(6, 6, 102);
    font-style: oblique;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 15px;
}

.champion {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 70px;
}

.champion1 {
    height: 220px;
    width: 220px;
    border: 2px solid rgba(0, 0, 0, 0.112);
    border-radius: 20px;
    padding: 10px;
}

.jpg {
    width: 200px;

}

.dots {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 150px;
}

.dots1 {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: grey;
}

.dots2 {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(1, 1, 78);
}

.section12 {
    height: 100vh;
    width: 100%;
    background-color: rgb(4, 4, 65);
}

.about {
    display: flex;
    color: white;
    gap: 30px;
    justify-content: center;
    padding-top: 100px;
}

.about p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.logo {
    height: 200px;
    width: 200px;
    background-image: url(/assests/images/logo-nirvana-white.png);
    background-size: cover;
    justify-self: center;
}

.number {
    display: flex;
    color: white;
    gap: 30px;
    justify-content: center;
    align-items: end;
}

.number2 {
    background-color: white;
    height: 7px;
    width: 7px;
    border-radius: 50%;
}

.number3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.email {
    display: flex;
    justify-content: center;
    margin: 80px;
    gap: 20px;
}

.email1 {
    height: 50px;
    width: 450px;
    background-color: white;
    padding-left: 15px;

}

.btn {
    height: 53px;
    width: 200px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn:hover {
    color: rgb(9, 9, 72);
    background-color: white;
    cursor: pointer;
}

.made {
    color: grey;
    text-align: center;
    display: flex;
    gap: 4px;
    justify-content: center;
}

.made span {
    color: white;
    font-weight: 900;
    text-decoration-line: underline;
}

.icon {
    color: rgba(255, 0, 0, 0.734);
    margin-top: 0px;

}